name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install & Build
        run: |
          # Masuk ke folder login
          cd dashboard-anggota/login
          
          # Kita buat file android secara bersih
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npx cap init "DSS" "com.dss.app" --web-dir .
          npx cap add android
          
          # Proses pembuatan APK
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: DSS-App-Installer
          path: dashboard-anggota/login/android/app/build/outputs/apk/debug/app-debug.apk
