name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build Process
        run: |
          # Masuk ke folder login sesuai screenshot kamu
          cd dashboard-anggota/login
          
          # Install tool pembungkus aplikasi
          npm install @capacitor/core @capacitor/cli @capacitor/android
          
          # Inisialisasi aplikasi dengan nama DSS
          npx cap init "DSS" "com.dss.app" --web-dir .
          npx cap add android
          
          # Masuk ke folder android untuk menciptakan file APK
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK ke GitHub
        uses: actions/upload-artifact@v4
        with:
          name: DSS-App-Installer
          path: dashboard-anggota/login/android/app/build/outputs/apk/debug/app-debug.apk
